{{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ message }}</h1>
    <p>Ceci est la page d'accueil de votre application Symfony.</p>
    <a href="{{ path('app_module_index') }}">Voir la liste des modules</a>
</div>
{% endblock %}