.primary-button {
    -fx-background-color: #06BBCC;
    -fx-background-radius: 8;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: 'Nunito';
    -fx-font-weight: 600;
    -fx-transition: -fx-background-color 0.5s ease-out;
}

.primary-button:hover {
    -fx-background-color: #05A1B0;
    -fx-cursor: hand;
}